@model ArmyBuilderSite.Models.ViewModels.Bloodbowl.ViewTeamVM
@using ArmyBuilderSite.Services.Helpers

@{
    var Team = Model.Team;
}

@if (!string.IsNullOrWhiteSpace(Model.Error))
{
    <h1>There was a problem loading this team.</h1>
    <h2 class="text-info">Error: @Model.Error</h2>
}
else
{
    <div class="container">
        <div class="text-center">
            <h1 class="team-name">@Team.TeamName</h1>
            <h4>Current Treasury: @Team.Gold.ToString("N0")</h4>
            <hr />
        </div>
        <div class="row text-center">
            @if (Team.BeingCreated)
            {
                <div class="col-md-4 col-sm-12">
                    <h4><span class="badge bg-dark">Team Being Created</span></h4>
                </div>
            }
            @if (Team.IsPublic)
            {
                <div class="col-md-4 col-sm-12">
                    <h4><span class="badge bg-success">Public Team</span></h4>
                </div>
            }
            @if (Team.IsSoftDeleted)
            {
                <div class="col-md-4 col-sm-12">
                    <h4><span class="badge bg-danger">Team In Recycle Bin</span></h4>
                </div>
            }
            <hr style="margin-top:1%" />
        </div>
        <div class="row text-center">
            <div class="col-md-3 col-sm-12" style="margin-top:2%">
                <h5>Manager Name:</h5>
                <p>@Team.ManagerName</p>
            </div>
            <div class="col-md-3 col-sm-12" style="margin-top:2%">
                <h5>Race:</h5>
                <p>@Team.RaceName</p>
            </div>
            <div class="col-md-3 col-sm-12" style="margin-top:2%">
                <h5>Date Created:</h5>
                <p>@Team.DateCreated.ToSimpleDateString()</p>
            </div>
            <div class="col-md-3 col-sm-12" style="margin-top:2%">
                <h5>User Name:</h5>
                <p>@Team.UserName</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3 col-sm-12" style="margin-top:2%">
                <h5>Special Rules:</h5>
                <p>@Team.SpecialRules</p>
            </div>
            <div class="col-md-3 col-sm-12" style="margin-top:2%">
                <h5>Difficulty Tier:</h5>
                <p>@Team.Tier</p>
            </div>
            <div class="col-md-3 col-sm-12" style="margin-top:2%">
                <h5>Number of Players:</h5>
                <p>@Team.ActivePlayers active / @Team.TotalPlayers total</p>
            </div>
            <div class="col-md-3 col-sm-12" style="margin-top:2%">
                <h5>Games Played:</h5>
                <p>@Team.TotalGamesPlayed</p>
            </div>
        </div>
        <hr />
        <div class="text-center">
            <h3 class="team-roster">Player Roster</h3>
        </div>
        <div>
            <table id="teamRosterTable" class="display responsive" style="width:100%">
                <thead>
                    <tr>
                        <th data-priority="0">No.</th>
                        <th data-priority="0">Name</th>
                        <th data-priority="0">Pos</th>
                        <th data-priority="1">M</th>
                        <th data-priority="1">S</th>
                        <th data-priority="1">A</th>
                        <th data-priority="1">PA</th>
                        <th data-priority="1">Av</th>
                        <th data-priority="0"></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
}

<script>
    var rosterTable = $("#teamRosterTable").DataTable({
        paging: false,
        "bFilter": false,
        "bInfo": false,
        responsive: {
            details: false
        }, });
    $(document).ready(function () {

    });
</script>
